/*
全てのページで共通のCSS
*/
html,
body {
	font-family: "Noto Sans CJK JP";
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #fafafa;
}

header {
	background-color: #4d4dca;
	position: fixed;
	width: 100%;
	display: flex;
	padding: 2rem;
}

header h1 {
	margin: 0;
	line-height: 1;
	color: #fff;
}

#root {
	display: flex;
	flex-direction: column;
	height: 100%;
}

#spacer {
	display: block;
	width: 100%;
	min-height: 6.8rem;
}

.top {
	height: 100%;
}