.category{
	max-width: 980px;
	margin: 2rem auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.category>div{
	margin: 1rem auto;
}

.category a{
	display: inline-block;
	position: relative;
	text-align: center;
}

.category p{
	text-align: left;
	margin: 0;
	position: absolute;
	bottom: 0;
	padding: .3rem;
	padding-left: 2rem;
	width: 100%;
	background-color: #a0a0a0;
	color: #fff;
	font-weight: 500;
	font-size: 2rem
}