/*トップ画面のみのCSS*/

.standby {
	display: flex;
	justify-content: center;
	align-items: center;
}

.standby video {
	width: 500px;
}

.standby p{
	font-size: 3rem;
	font-weight: bold;
}

#gotop{
	position: absolute;
	bottom: 0;
	font-size: 2rem;
	font-weight: 700;
}