.menu{
	max-width: 900px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.menu>div{
	width: 50%;
	text-align: center;
}

.menu a{
	display: inline-block;
	position: relative;
	text-align: center;
}

.menu p{
	text-align: left;
	margin: 0;
	position: absolute;
	bottom: 0;
	padding: .3rem;
	padding-left: 2rem;
	width: 100%;
	background-color: #a0a0a0;
	color: #fff;
	font-weight: 500;
	font-size: 2rem
}